.severity-selector { padding: 30px; }

.severity {
    padding-top: 2px;
    padding-left: 2px;
    margin: auto 20px;
}

.severity .selected {
    background-color: white;
    border: solid 3px orange;
    border-radius: 30px;
    box-shadow: 2px 2px 2px #666666;
    color: white;        
}

.incendio-card {
    box-shadow: 2px 2px 5px #EEEEEE;
    margin-bottom: 15px;
    margin-top: 5px;
}

.incendio-card .incendio-card-footer { padding-top: 0px; }

.location-description {
    font-weight: bold;
    padding-top: 7px;
}

.incendio-age {
    color: #666666;
    font-size: .8em;
    padding-bottom: 3px;
    padding-top: 7px;
    text-align: right;
    width: 100%;
}

.angular-google-map-container { height: 81% }

.card-image { height: 200px; }

.facebook_button {
    background: #627aac url(facebook_small.png) left no-repeat;

    border-bottom: 1px solid #1a356e;

    border-left: none;
    border-right: 1px solid #29447e;
    border-top: 1px solid #29447e;
    color: white;

    cursor: pointer;

    display: inline-block;
    font-family: "lucida grande", tahoma, verdana, arial, sans-serif;

    font-size: 20px;
    font-weight: bold;
    height: 40px;
    line-height: 22px;
    padding-left: 29px;
    padding-right: 7px;

    text-decoration: none;
}

.custombadge {
    background-color: red;
    border: solid 3px white;
    border-radius: 30px;
    bottom: 15px;
    box-shadow: 2px 2px 2px #666666;
    color: white;
    font-size: 40px;
    font-weight: bold;
    height: 50px;
    line-height: 45px;
    position: absolute;
    right: 15px;
    text-align: center;
    width: 50px;
    z-index: 1;
}

#loginContent {
    background-color: #ffa10c;
    background-size: cover;
    position: fixed;
}