<ion-view title="Reportar un incendio">
    <ion-content class="has-header" ng-show="imageSource">
        Arrastra el pin con tu dedo hacia la ubicacion del incendio.
        <div class="item item-text-wrap">
            {{LocationDescription}}
        </div>
        <google-map center="map.center" zoom="map.zoom" draggable="true" maptype="map.maptype">
            <markers>
                <marker coords="marker.coords" options="marker.options" events="marker.events"></marker>
            </markers>
        </google-map>
        
        
    </ion-content>
    
    <ion-content class="has-header" ng-hide="imageSource">
        <h1 class="title">Paso #1: Foto</h1>
        
        <button class="button button-block button-positive" ng-click="setImageSource('camera')">
            <i class="icon ion-ios7-camera-outline"></i> Camera
        </button>
        <button class="button button-block button-calm" ng-click="setImageSource('library')">
            <i class="icon ion-android-image"></i> Biblioteca
        </button>        
    </ion-content>
        
    <div ng-show="readyToCreate" ng-click="createDisaster()" style="margin-bottom: 20px" class="bar bar-footer bar-positive">
        <h1 class="title">Reportalo!</h1>
    </div> 
</ion-view>