<ion-view id="loginContent" title="Login" >
    
    <ion-content class="has-header">
        <div >
            <div id="logo" style="text-align: center">
                <img src="Content/logo_hires_trans.png">
            </div>
            <div style="height: 10%"></div>

            <div class="list">
                <label class="item item-input">
                    <input type="email" placeholder="Correo Electronico" ng-model="data.email">
                </label>
                <label class="item item-input">
                    <input type="password" placeholder="Contrasena" ng-model="data.password">
                </label>
            </div>

            <button class="button button-block button-positive" ng-click="basicLogin()">
                Login
            </button>
            
            <div style="text-align: center;">
                <img src="Content/login_1.png" ng-click="facebookLogin()" />
            </div>
        </div>        
    </ion-content>
    
</ion-view>