<?xml version='1.0' encoding='utf-8'?>
<widget id="com.acklenavenue.FireTower" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>FireTower</name>
    <description>
        Fire Tower Description
    </description>
    <author email="byron@acklenavenue.com" href="http://acklenavenue.com/">
        Acklen Avenue
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="SplashScreen" value="splash" />
    <preference name="SplashScreenDelay" value="10000" />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="false" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="auto-hide-splash-screen" value="true" />
    <feature name="StatusBar">
        <param name="ios-package" value="CDVStatusBar" onload="true" />
    </feature>
    <gap:splash src="res/screen/ios/screen-iphone-portrait.png"    gap:platform="ios"     width="320" height="480" />
    <gap:splash src="res/screen/ios/screen-iphone-portrait-2x.png" gap:platform="ios"     width="640" height="960" />
</widget>
